<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="libfmodstudio" os="osx" target="__Internal"/>
	<dllmap dll="libfmod"       os="osx" target="__Internal"/>
	<dllmap dll="fmodstudio"    os="osx" target="__Internal"/>
	<dllmap dll="fmod"          os="osx" target="__Internal"/>
</configuration>
