<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    	<!-- Remove these when not targeting iOS/tvOS!!! -->
	<dllmap dll="SDL2"          os="osx" target="__Internal"/>
	<dllmap dll="FNA3D"         os="osx" target="__Internal"/>
	<dllmap dll="FAudio"        os="osx" target="__Internal"/>
	<dllmap dll="libtheorafile" os="osx" target="__Internal"/>
	<!-- NOTE TO SELF: THIS ALSO NEEDS TO BE IN Celeste.dll.config!! -->
	<dllmap dll="libfmodstudio" os="osx" target="__Internal"/>
	<dllmap dll="libfmod"       os="osx" target="__Internal"/>
	<dllmap dll="fmodstudio"    os="osx" target="__Internal"/>
	<dllmap dll="fmod"          os="osx" target="__Internal"/>
</configuration>
